<!-- <h1>
  <% @lists.each do |list| %>
    <%= link_to list.name, new_list_bookmark_path(list) %>
  <% end %>
</h1> -->


<!--  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/Marshall-Hao" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div> -->
<!-- <div class="backdrop-container">
  <div id="backdrop" class="backdrop-wrapper  -loaded" data-backdrop="https://a.ltrbxd.com/resized/sm/upload/aj/h8/ku/9n/blade-runner-2049-1200-1200-675-675-crop-000000.jpg?k=aae914174e" data-backdrop2x="https://a.ltrbxd.com/resized/sm/upload/aj/h8/ku/9n/blade-runner-2049-1920-1920-1080-1080-crop-000000.jpg?k=aae914174e" data-backdropmobile="https://a.ltrbxd.com/resized/sm/upload/aj/h8/ku/9n/blade-runner-2049-960-960-540-540-crop-000000.jpg?k=6833d51a7b" data-offset="80">
    <div class="backdropplaceholder js-backdrop-placeholder" style="background-image: url(https://a.ltrbxd.com/resized/sm/upload/aj/h8/ku/9n/blade-runner-2049-48-48-27-27-crop.png?k=9f70d4fc3b); background-position: center -80px;">
    </div>
    <div class="backdropimage js-backdrop-image" style="background-position: center -80px; background-image: url(&quot;https://a.ltrbxd.com/resized/sm/upload/aj/h8/ku/9n/blade-runner-2049-1920-1920-1080-1080-crop-000000.jpg?k=aae914174e&quot;);">
    </div>
    <div class="backdropmask js-backdrop-fade"></div>
  </div>
</div> -->

<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner"> -->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://64.media.tumblr.com/6d4433a81b76f85705b9aba380d9f2a7/tumblr_inline_oy04qh25AS1qz6izh_1280.jpg);">

      <div class="container">
        <h1>
          Track films you've watched.
          <br>
          Share to your friends.
          <br>
          Movie and Chill!</h1>
        <p>The social network for film lovers.</p>
        <%= link_to 'Make a list', new_list_path, class:"btn btn-flat"  %>
      </div>
    </div>
<!--
    <div class="carousel-item active banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.cinemablend.com/filter:scale/quill/7/6/c/7/9/c/76c79cd19c501768ef411562b08fd285d938efa7.jpg?mw=600);">

      <div class="container">
        <h1>
          Track films you've watched.
          <br>
          Share to your friends.
          <br>
          Movie and Chill!</h1>
        <p>The social network for film lovers.</p>
        <a class="btn btn-flat" href="#">Make a list</a>
      </div>
    </div>

    <div class="carousel-item active banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.inquirer.com/resizer/vkVeAr5m_uZSn683DaBGjRwGLdY=/1400x932/smart/arc-anglerfish-arc2-prod-pmn.s3.amazonaws.com/public/FTKAYGUXPZAQZKLU5K2YE6NZDI.jpg);">

      <div class="container">
        <h1>
          Track films you've watched.
          <br>
          Share to your friends.
          <br>
          Movie and Chill!</h1>
        <p>The social network for film lovers.</p>
        <a class="btn btn-flat" href="#">Make a list</a>
      </div>
    </div>
  </div>
</div> -->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i2.milimaj.com/i/milliyet/75/0x410/5c8e62bf45d2a09e00a49a18.jpg)">
    <%= link_to 'Blade Runner', list_path(3), class:"list" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/The.Matrix.glmatrix.1.png/1200px-The.Matrix.glmatrix.1.png)">
    <%= link_to 'Matrix', list_path(4), class:"list" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/08/07/Pictures/_f6e963fa-d8a6-11ea-a06f-e722baeaa470.jpg)">
    <%= link_to 'John Wick', list_path(1), class:"list" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.insider.com/50080aac6bb3f7d356000000?width=750&format=jpeg&auto=webp)">
    <%= link_to 'Batman', list_path(2), class:"list" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.levelup.com/uploads/images/681513/681513_600x315.jpg)">
    <%= link_to 'Alien', list_path(5), class:"list" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.screengeek.net/wp-content/uploads/2018/07/the-predator-female-predators.jpg)">
    <%= link_to 'The Predator', list_path(6), class:"list" %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Marshall-Hao" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    @M&C limited by Marshall
  </div>
</div>

